@import "../../styles/index";

.title {
    color:darkslategray;
    font-weight: 500;
    margin: unit(2) 0;
    text-align: center;
  }

  .title--small {
    font-size: 18px;
  }

  .title--medium {
    font-size: unit(6);
  }

  .title--large {
    font-size: unit(8);
  }

  .title--x-large {
    font-size: unit(10);
  }
