.App {
  text-align: center;
  background-color: #9E9DA0;
}

.App__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  height: 100%;

}

/* .wish__list {
  display: flex;
  height: 100%;
  width: 25%;
}

.top__artists {
  height: 100%;
  width: 25%;
} */

.title {
  color:darkslategray;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

