.records {
  background-color: "steelblue";
}

.record-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  background-color: turquoise;
  align-items: center;
}

.record {
  width: 200px;
  border-radius: 16px;
  align-items: center;
  color: maroon;
  background-color: wheat;
}
